body{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 28%;
    margin-right: 10%;
    background-color: #f5f5f5;
    overflow-y: scroll;
}

.menu{
    text-align: left;
}

.menu_sort{
    text-align: left;
}

li{
    list-style:none;
}

.detail1{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}



/* 質問と回答の間に空白 */
.detail_q{
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    min-height: 100px;
    width: 100%;
}

.user_name{
    padding-top: 12px;
} 

/* 編集と削除 */
.post_edit_button{
    background-color: #007bff;
}
.post_delete_button{
    background-color: #dc3545;
}

/*  */
.menu_sort_answer_list{
    margin:0 12.5%;
}

/* コメント記入 */
.write_comment{
    text-align: left;
    margin:0 20%;
    background-color: #fff;
}
textarea{
    background-color: #f5f5f5;
}

.question-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
}

.title_input{
    background-color: #fff;
    /* 残りのスペースを占有 */
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    border-color: #ccc;
    height: 50px;
}

.post-button{
    background-color: #007bff;
    transition: background-color 0.3s ease;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    width: 60px;
    text-align: center;
}