body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow-y: scroll;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 20%; /* サイドバーの幅を15%とする */
    width: 80%; /* 残りの85%をメインコンテンツに使用 */
    box-sizing: border-box; /* パディングを含めた幅を指定 */
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.title {
    font-size: 1.8em;
    margin-right: 20px;
}
.action-buttons {
    display: flex;
    align-items: center;
}
.action-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.action-button:hover {
    background-color: #77b9ff;
}
.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-card, .question-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    flex: 1 1 calc(50% - 20px); /* カードの幅を50%にしてマージンを引く */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* パディングを含めた幅を指定 */
    max-width: calc(50% - 20px); /* カードの最大幅を指定 */
}
.item {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.item h3 {
    margin: 0;
    font-size: 1.2em;
}
.item form {
    margin-top: 10px;
}
.item button {
    background-color: #fe3f52;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.item button:hover {
    background-color: #ff8694;
}
.main-content {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/*リンクの形状*/
#page-top a{
    display: flex;
    justify-content:center;
    align-items:center;
    background:#4e4e4e;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase; 
    text-decoration: none;
    font-size:0.6rem;
    transition:all 0.3s;
  }
  
#page-top a:hover{
    background: #777;
}
  
/*リンクを右下に固定*/
#page-top {
    position: fixed;
    right: 10px;
    bottom:10px;
    z-index: 2;
      /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
}
  
  /*　上に上がる動き　*/
  
#page-top.UpMove{
    animation: UpAnime 0.5s forwards;
}
  @keyframes UpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
}
  
  /*　下に下がる動き　*/
  
#page-top.DownMove{
    animation: DownAnime 0.5s forwards;
}
  @keyframes DownAnime{
    from {
      opacity: 1;
    transform: translateY(0);
    }
    to {
      opacity: 1;
    transform: translateY(100px);
    }
}