body {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 28%;
    margin-right: 10%;
    background-color: #f5f5f5;
    overflow-y: scroll;
}

.menu {
    text-align: left;
}

.menu_sort {
    text-align: left;
}

li {
    list-style: none;
}

.detail {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.reply {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.answer-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.question-table {
    margin-bottom: 15px;
}

.question-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
}

.question-content-table {
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    min-height: 100px;
    width: 100%;
}

.question-time{
    text-align: right;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #666;
}

.post-list {
    border-radius: 5px;
    text-align: left;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

/*.detail_q, .detail_reply{
    border: solid 1px #000000;
    border-radius: 10px;
    text-align: left;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}*/

.answer-block {
    padding: 15px;
}

.answer-content {
    font-weight: bold;
}

.answer-table {
    width: 100%;
}

.answer-row {
    vertical-align: middle;
    /* 行の中身を中央揃え */
}

/* 回答のいいねボタン*/
.answer_like_flex {
    display: flex;
}

.answer-like-icon {
    width: 20px;
    height: 20px;
}

/* いいねの数が表示される位置 */
.answer_like_count {
    margin-right: 20px;
    /* いいね数と編集・削除ボタンの間のスペース */
}

.answer-like-container {
    display: flex;
    align-items: center;
}

.answer-like-button {
    margin-right: 5px;
    /* ボタンとカウントの間のスペース */
}

.answer-action-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 要素を左右に配置 */
}

/* 編集と削除 */
.post-edit-button,
.comment-submit-button {
    background-color: #007bff;
    transition: background-color 0.3s ease;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    width: 60px;
}

.post-edit-button:hover,
.comment-submit-button:hover {
    background-color: #77b9ff;
}

.post-delete-button {
    background-color: #dc3545;
    transition: background-color 0.3s ease;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    width: 60px;
}

.post-delete-button:hover {
    background-color: #ff8694;
}

.is-resolved-update-button {
    background-color: #00B16B;
    transition: background-color 0.3s ease;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    width: 80px;
}

.is-resolved-update-button:hover {
    background-color: #1fec9a;
}

/* コメント記入 */
.write_comment {
    text-align: center;
    background-color: #fff;
}

.comment-textarea {
    flex: 1;
    /* 残りのスペースを占有 */
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    border-color: #ccc;
    height: 70px;
    margin-top: 20px;
}

.answer_post_textarea {
    background-color: #f5f5f5;
    height: 50px;
    /* width:120%; */
}
/*リンクの形状*/
#page-top a{
    display: flex;
    justify-content:center;
    align-items:center;
    background:#4e4e4e;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase; 
    text-decoration: none;
    font-size:0.6rem;
    transition:all 0.3s;
  }
  
#page-top a:hover{
    background: #777;
}
  
/*リンクを右下に固定*/
#page-top {
    position: fixed;
    right: 10px;
    bottom:10px;
    z-index: 2;
      /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
}
  
  /*　上に上がる動き　*/
  
#page-top.UpMove{
    animation: UpAnime 0.5s forwards;
}
  @keyframes UpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
}
  
  /*　下に下がる動き　*/
  
#page-top.DownMove{
    animation: DownAnime 0.5s forwards;
}
  @keyframes DownAnime{
    from {
      opacity: 1;
    transform: translateY(0);
    }
    to {
      opacity: 1;
    transform: translateY(100px);
    }
}

.post-date{
    font-size: 14px;
    color: #666;
}

.comment_blue {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}