body{
    margin:10px 15%;
    background-color: #f5f5f5;
}

.menu{
    text-align: left;
}

.menu_sort{
    text-align: left;
}

li{
    list-style:none;
}

.detail1{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius:10px;
}

.detail_q, .detail_reply{
    border: solid 1px #000000;
    border-radius: 10px;
    margin:0 20%;
    text-align: left;
    padding: 0 10px 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

/* 質問と回答の間に空白 */
.detail_q{
    margin:10px 20% 10px 20%;
}

.user_icon{
    float:left;
}

.user_name{
    padding-top: 12px;
} 

/* 編集と削除 */
.post_edit_button{
    background-color: #007bff;
}
.post_delete_button{
    background-color: #dc3545;
}

/*  */
.menu_sort_answer_list{
    margin:0 12.5%;
}

/* コメント記入 */
.write_comment{
    text-align: left;
    margin:0 20%;
    background-color: #fff;
}
textarea{
    background-color: #f5f5f5;
}