.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

form {
  margin:70px auto;
  background:#2a3644;
  width:345px;
  text-align:center;
  padding:40px;
  border-radius: 15px;
}

h1{
  color: #ffffff;
}

input[type="text"],[type="password"]{
  background:rgba(0, 0, 0, 0.2);
  width:315px;
  padding:15px;
  margin-bottom:10px;
  outline:none;
  border-radius: 5px;
}

input[type="submit"]{
  background: #f26964;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

input[type="login"]{
  background: #f26964;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

.new{
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.new a {
  color: #8c8c8c;
  text-decoration: none;
}