.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* viewport height */
    flex-direction: column;
}

.sidebar {
    overflow-y: scroll;
    /* 常に垂直方向のスクロールバーを表示 */
}