header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
body {
    display: flex;
    flex-direction: column; /* フォームを上下中央に配置するために列方向に設定 */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    margin-left: 20%; /* サイドバーの幅を15%とする */
    width: 80%; /* 残りの85%をメインコンテンツに使用 */
    box-sizing: border-box; /* パディングを含めた幅を指定 */
    overflow-y: scroll;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column; /* 入力欄を上下に並べるために列方向に設定 */
    align-items: center;
}

/* タイトルのスタイルを修正 */
h1 {
    margin-bottom: 20px; /* タイトルとフォームの間の余白を追加 */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    width: 100%;
}

input[type="password"] {
    width: calc(100% - 16px); /* ラベルの幅を考慮して、余白を調整 */
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #77b9ff;
}
