.sidebar-sidebar {
    position: fixed;
    width: 15%;
    height: 100vh;
    background: #262626;
    color: #fff;
    padding: 20px;
    left: 0;
    top: 0;
}

.sidebar-sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-sidebar nav ul li {
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    /* 背景色の変化が滑らかになるように設定 */
}

.sidebar-sidebar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    display: flex;
    /* Flexbox を使って水平方向にアイテムを配置 */
}

.sidebar-sidebar nav ul li:hover {
    background-color: #545454;
    /* マウスを合わせたときの背景色 */
}

.sidebar-sidebar nav ul li img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    /* 画像を垂直方向に中央揃え */
}

.sidebar-sidebar ul li {
    background: #262626;
    padding: 10px;
    margin: 10px 0;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

.sidebar-image {
    margin: 0 auto;
    width: 100%;
    /* 幅を100%に設定 */
    height: auto;
    /* 高さを自動調整 */
}